@import "compass";
@import "valiables";
@import "commonClass";
@import "mixins";


#left-zone {
	flex: 1 !important;

}


#full-zone {
	flex: 0 !important;
}


#right-zone {
	height: calc(100% + 60px) !important;
	margin-top: -30px;
	margin-bottom: -30px;
	overflow-y: scroll;
}

#hierarchy-zone {
	position: relative;
	height: 100%;
	overflow-x: visible;
	overflow-y: hidden;

	#hierarchy-body {
		overflow-y: scroll;

		@include flex(1);

		.hierarchy-item-selected {
			color: $mc
		}

		.hierarchy-children {
			padding-left: 20px;
		}


		#add-element {
			position: absolute;
			left: 15px;
			bottom: 15px;

		}

		.md-subheader {
			background-color: white !important;
		}
	}

	#new-elements {

		overflow-y: scroll;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: white;
		top:0;
		z-index: 21; // FAB(z-index=20)より上に。
		@include translateY(100%);
		@include material-transition(.25s);

		#new-element-title {

			// @extend .shadow2;
			font-size: 16px;

			#new-element-title-ripple {
				display: flex;
				width: 100%;
				padding: 15px;
				height: 70px;
				align-items: center;
				md-icon {
					margin: 0 15 0 25;
				}
				p {
					font-size: 19px;
				}

			}
		}

		#new-element-body {
			.md-avatar-icon {
				width: 100%;
				height: 100%;
				background-color: #4696F7;
			}
			.md-title {
				line-height: 40px;
				text-align: center;
			}
		}
	}

	#new-elements.animationOn {
		@include translateY(0%);
	}


}

#property-zone {

	overflow-y: scroll;

	#property-title {
		@extend .bg-mc;

		md-input-container {
			padding: 0;

			input {
				text-align: center;
				color: white;
				border-color: white;
			}
		}
	}

	#property-preview {
		width: 100%;
		height: 200px;
		margin-bottom: 10px;

	}

	#property-body {
		@include flex(1);
		padding: 0px 30px 80px 30px;
		overflow-y: scroll;

		.property-card {
			position: relative;
			padding: 10px 5px 10px 5px;
			@include material-transition(.25s);


			.property-card-title {
				padding: 5px 0px 5px 8px;

				&:focus {
					outline: none;
				}

				md-icon {
					fill: #666;
					margin: 0 15px 0 0;
				}

				span {
					font-size: 18px;
					color: #666;
					// font-weight: bold;
				}
				.script-card-menu {
					position: absolute;
					right: 0;
					top: 0;
				}	
			}

			.property-card-body {
				display: none;
				margin-top: 20px;
				padding: 0 20px;
			}
		
			croset-dynamic-input {
				position: relative;
				
				.croset-dynamic-input-border {
					position: absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;

					&:focus {
						outline: none !important;
					}
					
					&::before {
						box-sizing: inherit;
						content: '';
						position: absolute;
						border: 2px solid transparent;
						width: 0;
						height: 0;
						top: 0;
    				left: 0;
						transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
					}
					&::after {
						box-sizing: inherit;
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						border: 2px solid transparent;
						width: 0;
						height: 0;
						transition:  height 0.25s ease-out, width 0.25s ease-out 0.25s
					}
					
				}
				&.croset-dynamic-input-var-attached {
					
					.croset-dynamic-input-border {
						&::before {
							width: 100%;
							height: 100%;
							border-top-color: #1B96FE;
							border-right-color: #1B96FE;
						}
						&::after {
							width: 100%;
							height: 100%;
							border-left-color: #1B96FE;
							border-bottom-color: #1B96FE;
						}
					}
					.croset-dynamic-input-remove-border {
						display: flex;
						position: absolute;
						top: 0px;
						left: 0;
						background-color: #1B96FE;
						height: 20px;
						color: white;
						min-width: 30px;
						align-content: center;
						justify-content: center;
						font-size: 14px;
						cursor: pointer;
						z-index: 22;

						md-icon {
							font-size: 14px;
							color: white;		
							text-align: center;
						}
					}
				}
			}
			
			croset-text {
				span {
					font-size: 13px;
				}
			}

			croset-headline {
				span {
					font-size: 15px;
					font-weight: bold;
				}
			}

		}

		.property-card-open {
			margin: 20px -10px;

			.property-card-body {
				display: block;
			}
		}

		.property-card:not(.property-card-open) {
			@extend .hover-float;
		}

	}
}
