@import "compass";
@import "valiables";
@import "commonClass";
@import "mixins";

#left-zone {
	flex: 0 !important;
	margin-top: 100%;
}


#full-zone {
	flex: 0 !important;
}


#program-zone {

	position: relative;
	padding: 0;
}

._md-menu-backdrop {
	z-index: 102 !important;
}

.md-dialog-container {
	z-index: 103 !important;
}

._md-open-menu-container {
	z-index: 102 !important;
}
