.crosetBold {
	font-weight: bold;
}

.crosetItalic {
	font-style: italic !important;
}

.croset-element {
	display: block;
	position: absolute;
}

// Button
croset-element-button {
	button {
		width: 100%;
		height: 100%;
		margin: 0 !important;
		min-width: 0px !important;
		min-height: 0px !important;
	}
}

// Text
croset-element-text {
	div {
		width: 100%;
		height: 100%;
		word-wrap: break-word;
		white-space: pre-wrap;
		overflow-y: hidden;
		display: flex;
	}
}

// Square
croset-element-square {
	div {
		width: 100%;
		height: 100%;
	}
}
