
div.mat-child(layout="column" ng-repeat="(matName, mat) in mats")

	div.croset-mat-flex
		span {{elementName}}
		croset-component-input(ng-repeat="input in mat track by $index")

	md-divider
	.mat-wrapper
	
		
		.croset-component-input-mat-card.croset-mat
			croset-component-in-code(ng-repeat="card in cardData.matContents[matName]")
			
		
		.croset-mat-resizer(direction="bottom")
			

.croset-mat-resizer(direction="right")
