

#dashboard(layout="column")
	//- サイドメニューを開くボタン
	#menu
		md-button.md-icon-button(ng-click="toggleSideNav()" aria-label="Menu")
			md-icon.material-icons menu
		
	#fixing-header(layout="row")
	
		h2(ng-style="{opacity: titleOpacity }") DASHBOARD
	
	md-button#new-project(class="md-fab md-accent" ng-click="newProject($event)")
		md-icon(aria-label="Menu" class="material-icons") add
	
	md-tabs#tabs(md-dynamic-height='', md-border-bottom='' dashboard-tabs)
		
		md-tab(label='ダッシュボード')
			md-content#main-tab-content.md-padding(layout="row")
				md-card.project-card(ng-repeat="project in projects track by $index" repeat-finished ui-sref="editor.design({projectId: project.projectId, screenName: 'トップ'})" md-ink-ripple)
					.project-preview-wrapper
						.project-preview
						
					.project-card-title(layout="row" layout-align="start center")
						span.md-headline(flex) {{project.name}}
				
						md-menu
							md-button.md-icon-button(ng-click="openMore($mdOpenMenu, $event)")
								md-icon(aria-label="More" class="material-icons" md-menu-origin) more_vert
							
							md-menu-content(width="4")
								md-menu-item
									md-button(ng-click="rename($event, project)")
										md-icon(aria-label="More" class="material-icons") edit
										span 名前を変更
								
								md-menu-divider
		
								md-menu-item
									md-button(ng-click="remove($event, project.projectId)")
										md-icon(aria-label="More" class="material-icons") delete
										span 削除
							
					//- md-card-content
					//- 	p aaaa
						
						
		md-tab(label='アカウント設定')
			md-content.md-padding
				
					
