

#dashboard(layout="column")
	//- サイドメニューを開くボタン
	#menu
		md-button.md-icon-button(ng-click="toggleSideNav()" aria-label="Menu")
			md-icon.material-icons menu
		
	#fixing-header(layout="row")
	
		h2(ng-style="{opacity: titleOpacity }") DASHBOARD
	
	md-button#new-project(class="md-fab md-accent" ng-click="newProject($event)")
		md-icon(aria-label="Menu" class="material-icons") add
	
	md-tabs#tabs(md-dynamic-height='', md-border-bottom='' dashboard-tabs)
		
		md-tab(label='ダッシュボード')
			md-content#main-tab-content.md-padding(layout="row")
			
				md-card.project-card(ng-repeat="project in projects" repeat-finished ui-sref="editor.design({projectId: project.name})" md-ink-ripple)
					img.project-background(ng-src="img/black_flat_bg.png" class="md-card-image" alt="Washed Out")
					.project-preview-wrapper
						.project-preview
						
					md-card-title
						md-card-title-text
							span.md-headline {{project.name}}
							
					//- md-card-content
					//- 	p aaaa
						
						
		md-tab(label='アカウント設定')
			md-content.md-padding
				
					
