
//- ヘッダー
md-toolbar#header(ng-controller="HeaderController")
	.md-toolbar-tools
		//- サイドメニューを開くボタン
		md-button#toggle-side-nav.md-icon-button(ng-click="toggleSideNav()" ng-hide="isOpenRight()" aria-label="Menu")
			md-icon.material-icons menu
		//- サービス名。ロゴ
		h2
			span {{projectName}}
			
		h2 >
		
		img(src="img/logo.png" height="47px" style="left: 50%;position: absolute;transform: translateX(-50%)")
		//- span.vertical-line
		//- タイトル
		h2
			span {{screenName}}
		
		span(flex)
		
		
		md-button#config.md-icon-button(aria-label="Config" ng-click="config($event)") 
			md-icon(aria-label="Config") settings
			
		md-button#build-download.md-icon-button(aria-label="Download" ng-click="buildDownload($event)") 
			md-icon(aria-label="Download") file_download
		
		//- 実行
		md-button#run-fab.md-icon-button(aria-label="Run" ng-click="run($event)") 
			md-icon(aria-label="Run") play_arrow
			
		//- 保存
		md-button#save-fab.md-primary.md-icon-button(aria-label="Save" ng-click="save($event)") 
			md-icon(aria-label="Save") save
			
#editor(layout="row")
	
	#progress(layout="column" ng-show="!isLoading")
		md-progress-circular(md-mode="indeterminate")
		
	
	#mode-changer(layout="column")
		
		md-button#changeScreen.md-icon-button.md-primary(ng-click="changeScreen()")
			md-icon.material-icons content_copy
	
		md-button.selected.md-icon-button(ng-repeat="(name, modeObj) in modeList" ng-click="changeMode(name)" ng-class="{'mode-icon-active': name==mode}" aria-label="ModeIcon")
			md-icon.material-icons {{modeObj.icon}}
		
		.mode-button-divider
			
		md-button.selected.md-icon-button(ng-repeat="(name, modeObj) in secondModeList" ng-click="changeMode(name)" ng-class="{'mode-icon-active': name==mode}" aria-label="ModeIcon")
			md-icon.material-icons {{modeObj.icon}}

	#left-zone.editor-card.flex
		.ui-view-fade(ui-view="left")

	//- #screen-zone-wrapper(ng-style="{marginRight: marginRight}" ng-controller="ScreenController")
	//- 	#screen-zone(ng-style = "{transform: 'scale(' + screenScaleRatio + ')'}")
	//- 		#screen-frame
	//- 			#screen
					

	#screen-wrapper(ng-controller="ScreenController")
		#screen-zone.marvel-device.iphone6.silver(ng-mousedown="onclick()" ng-style="{transform: 'scale3d(' + screenScaleRatio + ',' + screenScaleRatio + ',' + screenScaleRatio + ')', marginRight: marginRight}")
			.top-bar
			.sleep
			.volume
			.camera
			.sensor
			.speaker
			#screen.screen(ng-style="{overflowY: currentScreenData.style.overflowY}")
			.home
			.bottom-bar
			
			//- md-button.md-fab.md-accent.change-select-mode(ng-click="openListItemSelect()") 
				md-icon(aria-label="Menu" class="material-icons") format_list_bulleted
		

		
		div(layout="column")#template-preview-wrapper
			md-card(layout="column" layout-align="center center")
				md-card-actions(layout="row" layout-align="start start")
					md-button.md-icon-button(ng-click="closeTemplatePreview()")
						md-icon(aria-label="Close" class="material-icons") arrow_back
						
				#template-preview(layout="column" layout-align="center center")
			
	
		// div(layout="column")#list-item-select
			md-card(layout="column")
				md-card-actions(layout="row" layout-align="start start")
					md-button.md-icon-button(ng-click="closeListItemSelect()")
						md-icon(aria-label="Close" class="material-icons") arrow_back

				md-list(ng-cloak)
					md-subheader 画面要素
					hierarchy-item(ng-repeat="element in screenElements | toArray | orderBy: 'zIndex'")

					md-divider(ng-show="templates")

					md-subheader(ng-show="templates") テンプレート
					hierarchy-item(ng-repeat="element in templates | toArray" istemplate="true")

			

	#right-zone.editor-card.flex
		.ui-view-fade(ui-view="right")
		
	
	#full-zone.flex
		.ui-view-fade(ui-view="full" layout="column")
		
		
	
		
	
	md-fab-toolbar#var-fab-toolbar(md-open='isVarToolbarOpen' count='demo.count' md-direction='left' ng-mouseleave="closeVarToolbar()")
		md-fab-trigger.align-with-text
			md-button.md-fab.md-primary(aria-label='menu' ng-mouseover="openVarToolbar()")
				md-icon(aria-label="Var") archive
		md-toolbar(ng-show="$state.current.name != 'editor.program'")
			md-fab-actions.md-toolbar-tools
				md-button.var-button(ng-click="addVariable($event)")
					md-icon(aria-label="Add" class="material-icons") add	
				md-button.var-button(ng-click="onVariableClicked($event, varId)" aria-label='{{var.name}}' ng-repeat="(varId, var) in vars" data-drag="true" jqyoui-draggable data-jqyoui-options='{helper: "clone", appendTo: "body", cancel: ""}') {{var.name}}

		
		



		
		
		
		
		
		
		
		
		
		
		