
md-list-item(croset-hierarchy-item ng-click="onclick(element)" ng-class="{'hierarchy-item-selected' : element.$$key === selectedElementUUID, '{{\'hierarchy-item-\' + element.type}}' : true, 'hierarchy-group': element.group}")

  md-icon(md-font-icon="menu" aria-label="Type") {{elementDatas[element.type].icon}}
  p.hierarcy-text {{element.name}}
  
  md-icon.md-secondary(ng-click="duplicate($event)" aria-label="Add" ng-show="isTemplate") add

  
  md-menu.md-secondary
    md-button(aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)")
      md-icon(md-menu-origin aria-label="Menu") more_vert

    md-menu-content(width="4")
      md-menu-item
        md-button(ng-click="showPromptRename($event)")
          md-icon(md-menu-align-target aria-label="Rename") edit
          span 名前を変更
          
      md-menu-item(ng-hide="isTemplate")
        md-button(ng-click="duplicate($event)")
          md-icon(md-menu-align-target aria-label="Duplicate") content_copy
          span 複製
          
      md-menu-item(ng-hide="isTemplate")
        md-button(ng-click="addTemplate($event)")
          md-icon(md-menu-align-target aria-label="Template") burst_mode
          span テンプレート化
          
          
      md-divider
      
      md-menu-item
        md-button(ng-click="showConfirmDelete($event)")
          md-icon(aria-label="Delete") delete
          span 削除
          

.hierarchy-children(style="padding-left: 40px")
  hierarchy-child-item(ng-repeat="element in element.children  | toArray | orderBy: 'zIndex'")





  //- hierarchy-list(ng-repeat="")
  
  //- 
  //- md-list(ng-cloak)
  //-   md-list-item
  //-     md-icon(md-font-icon="menu" aria-label="Type") setting
  //-     p.hierarcy-text ｺﾄﾞﾓ
  //-     md-icon.md-secondary(ng-click="showPromptRename($event)" aria-label="Rename") edit
  //-     md-icon.md-secondary(ng-click="showConfirmDelete($event)" aria-label="Delete") delete
