//- #design-zone(layout="row")
md-card#hierarchy-zone(ng-controller="HierarchyController")
	//- #hierarchy-title 配置済みのアイテム
	#hierarchy-body
		md-list(ng-cloak)
			md-subheader 画面要素
			hierarchy-item(ng-repeat="element in screenElements | toArray | orderBy: 'zIndex'")
	
			md-divider(ng-show="templates")
			
			md-subheader テンプレート
			hierarchy-item(ng-repeat="element in templates | toArray" istemplate="true")

		
		//- #hierarchy-hel


		//- 要素を追加
		//- クリックされたとき、「新しい要素」を表示するトリガーをONにしている
		md-button#add-element.md-fab.md-accent(ng-click="animationTriggers.showNewElements=true") 
			ng-md-icon(icon="add" style="fill: white" size="30")
			//- span.icomoon-plus3
		
	

	
	//- #add-elementがクリックされたら表示
	#new-elements(ng-class="{animationOn: animationTriggers.showNewElements}")
		#new-element-title(ng-click="animationTriggers.showNewElements=false")
			#new-element-title-ripple(style="overflow: hidden; position:relative" md-ink-ripple)
				md-icon(aria-label="Menu" class="material-icons") close
				p 新しい画面部品
				
		#new-element-body(layout="row" layout-wrap)

			//-  リピートして要素追加ボタンを作る
			div(flex="50" ng-repeat="(id, data) in settings.elementDatas")
				md-card(style="overflow: hidden; position:relative" add-element-card="{{id}}" ng-click="onclick()")
					//- .new-element-card-preview(md-ink-ripple)
					md-card-header
						md-card-avatar
							md-icon.md-avatar-icon(aria-label="Menu" class="material-icons") {{data.icon}}
						md-card-header-text(md-ink-ripple)
							span.md-title {{ data.name }}
							
		
	
