div(layout="row")
	md-slider(flex="grow" ng-model="value" step="{{options.step}}" min="{{options.min}}" max="{{options.max}}" ng-change="onchange()")
	div(flex="initial" layout layout-align="center center" style="width: 100px")
		input(flex type="number" ng-model="value" style="width: 100%; text-align: center; padding-left: 10px")
