#property-zone(ng-controller="PropertyController")
	//- #property-title 
	//- 	span(ng-hide="elementName!==null") a
	//- 
	//- 	md-input-container.md-block.md-accent(text-align="left" ng-show="elementName!==null")
	//- 		input(ng-model="elementName" type="text" ng-change="onChangeName()")
	//- 
	
	
	#property-body
	
		//- 座標の設定項目
		md-card.property-card(ng-class="{'property-card-open': !cardToggle}" ng-style="{display: isVisibleOffsetProperty}" ng-show="visiblePropertyCards.length != 0 && !isTemplate")
			div.property-card-title(layout="row" ng-click="cardToggle=!cardToggle" md-ink-ripple)
				md-icon(aria-label="icon" class="material-icons") format_shapes
				span 位置
			
			div.property-card-body(layout="column")
				div(layout="row")
					div.flex-50(layout="row" layout-align="center" flex)
						md-input-container.md-block(text-align="left")
							label X座標
							input(ng-model="left" ng-change="onChangeLeft()" type="number" step="1")
					
					div.flex-50(layout="row" layout-align="center" flex)
						md-input-container.md-block(text-align="left")
							label Y座標
							input(ng-model="top" ng-change="onChangeTop()" type="number" step="1")
				div(layout="row" ng-show="element.unresizable != 'xy'")
					div.flex-50(layout="row" layout-align="center" flex)
						md-input-container.md-block(text-align="left")
							label 幅
							input(ng-model="width" ng-change="onChangeWidth()" type="number" step="1")
					
					div.flex-50(layout="row" layout-align="center" flex)		
						md-input-container.md-block(text-align="left")
							label 高さ
							input(ng-model="height" ng-change="onChangeHeight()" type="number" step="1")
				
						

		//- リピートして設定項目を増やす
		md-card.property-card(ng-repeat="card in visiblePropertyCards track by $index" ng-class="{'property-card-open': !cardToggle}")
			div.property-card-title(layout="row" ng-click="cardToggle=!cardToggle" md-ink-ripple)
				md-icon(aria-label="icon" class="material-icons") {{card.icon}}
				//- ng-md-icon.top-left-icon(icon="{{ card.icon }}" size="25")
				span {{ card.title }}
			
			div.property-card-body
				//- リピートして設定用のインプットを増やす 
				div(layout="row" ng-repeat="row in card.propertyInputs track by $index")
					croset-dynamic-input(layout="column" layout-align="center" tag="'croset-' +  input.type" flex ng-class="['flex-'+input.size, {'croset-dynamic-input-var-attached': var}]" options="input.options" ng-repeat="input in row track by $index" croset-selected-element data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'onDrop'}")
						.croset-dynamic-input-border
						
						.croset-dynamic-input-remove-border(ng-show="var" ng-click="removeVar($event)" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" md-ink-ripple)
							span(ng-hide="hover") {{var.name}}
							md-icon(aria-label="Remove" class="material-icons" ng-show="hover") close
						
		
		
		//- 画面に関する設定
		md-card.property-card.property-card-open(ng-if="visiblePropertyCards.length == 0")
			div.property-card-title(layout="row")
				md-icon(aria-label="Screen" class="material-icons") smartphone
				span 画面
			
			
			div.property-card-body(layout="column")
				div(layout="row")
					div.flex-100(layout="row" layout-align="center" flex)
						md-input-container.md-block
							label オーバーフロー(縦)
							md-select(ng-model="currentScreenData.style.overflowY || 'hidden'" ng-change="onChangeScreenOverflowY()")
								md-option(value="hidden") 隠す
								md-option(value="scroll") スクロール
								
		
		//- 画面に関する設定
		md-card.property-card.property-card-open(ng-repeat="(scriptName, scriptOptions) in element.scripts")
			div.property-card-title(layout="row")
				md-icon(aria-label="Script" class="material-icons") description
				span {{ scriptName }}
				
				md-menu.script-card-menu
					md-button.md-icon-button(ng-click='$mdOpenMenu(ev)')
						md-icon(aria-label="menu" class="material-icons") more_vert
					md-menu-content(width='4')
						md-menu-item(ng-click="dettachScript(scriptName)") 
							md-button
								md-icon(aria-label="delete" class="material-icons") delete
								|	削除

					
		div(layout="column" layout-align="center center")			
			md-menu
				md-button.md-raised.md-accent(ng-click='$mdOpenMenu(ev)') スクリプトを追加

				md-menu-content(width='4')
					md-menu-item(ng-repeat="(scriptName, script) in scripts" ng-click="attachScript(scriptName)") 
						md-button {{scriptName}}


