#property-zone(ng-controller="PropertyController")
	//- #property-title 
	//- 	span(ng-hide="elementName!==null") a
	//- 
	//- 	md-input-container.md-block.md-accent(text-align="left" ng-show="elementName!==null")
	//- 		input(ng-model="elementName" type="text" ng-change="onChangeName()")
	//- 
	
	
	#property-body

	
		//- リピートして設定項目を増やす
		md-card.property-card(ng-repeat="card in visiblePropertyCards track by $index" ng-class="{'property-card-open': !cardToggle}")
			div.property-card-title(layout="row" ng-click="cardToggle=!cardToggle" md-ink-ripple)
				ng-md-icon.top-left-icon(icon="{{ card.icon }}" size="25")
				span {{ card.title }}
			
			div.property-card-body
				//- リピートして設定用のインプットを増やす 
				div(layout="row" ng-repeat="row in card.propertyInputs track by $index")
					croset-dynamic-input(layout="column" layout-align="center" tag="'croset-' +  input.type" flex ng-class="'flex-'+input.size" options="input.options" ng-repeat="input in row track by $index" croset-selected-element)
						
