div(
	ng-style="{ \
	backgroundColor: options.bgColor, \
	boxShadow: options.shadowX + 'px ' + options.shadowY + 'px ' + options.shadowGradation + 'px rgba(0,0,0,' + (100-options.shadowOpacity)/100 + ')', \
	border: options.borderWidth + 'px solid ' + options.borderColor, \
	borderRadius: options.borderRadius + 'px' \
	}")  
