.croset-element-group-div(
	ng-style="{ \
  overflow: s.get(uuid).options.overflow, \
	backgroundColor: s.get(uuid).options.bgColor, \
	boxShadow: s.get(uuid).options.shadowX + 'px ' + s.get(uuid).options.shadowY + 'px ' + s.get(uuid).options.shadowGradation + 'px rgba(0,0,0,' + (100-s.get(uuid).options.shadowOpacity)/100 + ')', \
	border: s.get(uuid).options.borderWidth + 'px solid ' + s.get(uuid).options.borderColor, \
	borderRadius: s.get(uuid).options.borderRadius + 'px' \
	}")  
