div(ng-class="{crosetBold: options.formatBold, crosetItalic: options.formatItalic}"
    ng-style="{ \
    color: options.textColor, \
    fontSize: options.fontSize, \
    textAlign: options.textAlign, \
    verticalAlign: options.verticalAlign \
    }")  
    span {{options.text}}
