div(
	ng-style="{ \
	backgroundColor: s.list[uuid].options.bgColor, \
	boxShadow: s.list[uuid].options.shadowX + 'px ' + s.list[uuid].options.shadowY + 'px ' + s.list[uuid].options.shadowGradation + 'px rgba(0,0,0,' + (100-s.list[uuid].options.shadowOpacity)/100 + ')', \
	border: s.list[uuid].options.borderWidth + 'px solid ' + s.list[uuid].options.borderColor, \
	borderRadius: s.list[uuid].options.borderRadius + 'px' \
	}")  
