/* line 5, ../../sass/commonClass.scss */
.bg-mc, #property-zone #property-title {
  background-color: #2196F3;
  color: white;
}

/* line 10, ../../sass/commonClass.scss */
.bg-ac {
  background-color: #FF5722;
  color: white;
}

/* line 15, ../../sass/commonClass.scss */
.bg-white {
  background-color: white;
  color: black;
}

/* line 20, ../../sass/commonClass.scss */
.bg-disabled {
  background-color: #E0E0E0;
}

/* line 24, ../../sass/commonClass.scss */
.max-height {
  height: 100%;
}

/* line 28, ../../sass/commonClass.scss */
.max-width {
  width: 100%;
}

/* line 32, ../../sass/commonClass.scss */
.vertical-line {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 37, ../../sass/commonClass.scss */
.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 41, ../../sass/commonClass.scss */
.shadow2, .hover-float:hover, #property-zone #property-body .property-card:hover:not(.property-card-open) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 45, ../../sass/commonClass.scss */
.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 49, ../../sass/commonClass.scss */
.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* line 53, ../../sass/commonClass.scss */
.shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* line 59, ../../sass/commonClass.scss */
.hover-float, #property-zone #property-body .property-card:not(.property-card-open) {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

/* line 69, ../../sass/commonClass.scss */
.hover-gray {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 72, ../../sass/commonClass.scss */
.hover-gray:hover {
  background-color: #eee;
}

/* line 79, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter {
  opacity: 0;
  -moz-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 83, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter-active, .ui-view-fade.ng-leave {
  opacity: 1;
}

/* line 7, ../../sass/design.scss */
#left-zone {
  flex: 1 !important;
}

/* line 12, ../../sass/design.scss */
#right-zone {
  height: calc(100% + 60px) !important;
  margin-top: -30px;
  margin-bottom: -30px;
  overflow-y: scroll;
}

/* line 19, ../../sass/design.scss */
#hierarchy-zone {
  position: relative;
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
}
/* line 25, ../../sass/design.scss */
#hierarchy-zone #hierarchy-body {
  overflow-y: scroll;
  -webkit-flex: 1;
  flex: 1;
}
/* line 30, ../../sass/design.scss */
#hierarchy-zone #hierarchy-body .hierarchy-item-selected {
  color: #2196F3;
}
/* line 34, ../../sass/design.scss */
#hierarchy-zone #hierarchy-body .hierarchy-children {
  padding-left: 20px;
}
/* line 39, ../../sass/design.scss */
#hierarchy-zone #hierarchy-body #add-element {
  font-size: 23px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
/* line 48, ../../sass/design.scss */
#hierarchy-zone #new-elements {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 21;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 60, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-title {
  font-size: 16px;
}
/* line 65, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-title #new-element-title-ripple {
  display: flex;
  width: 100%;
  padding: 15px;
  height: 70px;
  align-items: center;
}
/* line 71, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-title #new-element-title-ripple md-icon {
  margin: 0 15 0 25;
}
/* line 74, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-title #new-element-title-ripple p {
  font-size: 19px;
}
/* line 82, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-body .md-avatar-icon {
  width: 100%;
  height: 100%;
  background-color: #4696F7;
}
/* line 87, ../../sass/design.scss */
#hierarchy-zone #new-elements #new-element-body .md-title {
  line-height: 40px;
  text-align: center;
}
/* line 94, ../../sass/design.scss */
#hierarchy-zone #new-elements.animationOn {
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 101, ../../sass/design.scss */
#property-zone {
  overflow-y: scroll;
}
/* line 108, ../../sass/design.scss */
#property-zone #property-title md-input-container {
  padding: 0;
}
/* line 111, ../../sass/design.scss */
#property-zone #property-title md-input-container input {
  text-align: center;
  color: white;
  border-color: white;
}
/* line 119, ../../sass/design.scss */
#property-zone #property-preview {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
/* line 126, ../../sass/design.scss */
#property-zone #property-body {
  -webkit-flex: 1;
  flex: 1;
  padding: 0px 30px 20px 30px;
  overflow-y: scroll;
}
/* line 131, ../../sass/design.scss */
#property-zone #property-body .property-card {
  position: relative;
  padding: 10px 5px 10px 5px;
  -moz-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.25s, cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 137, ../../sass/design.scss */
#property-zone #property-body .property-card .property-card-title {
  padding: 5px 0px 5px 8px;
}
/* line 140, ../../sass/design.scss */
#property-zone #property-body .property-card .property-card-title:focus {
  outline: none;
}
/* line 144, ../../sass/design.scss */
#property-zone #property-body .property-card .property-card-title md-icon {
  fill: #666;
  margin: 0 15px 0 0;
}
/* line 149, ../../sass/design.scss */
#property-zone #property-body .property-card .property-card-title span {
  font-size: 18px;
  color: #666;
}
/* line 156, ../../sass/design.scss */
#property-zone #property-body .property-card .property-card-body {
  display: none;
  margin-top: 20px;
  padding: 0 20px;
}
/* line 163, ../../sass/design.scss */
#property-zone #property-body .property-card croset-text span {
  font-size: 13px;
}
/* line 169, ../../sass/design.scss */
#property-zone #property-body .property-card croset-headline span {
  font-size: 15px;
  font-weight: bold;
}
/* line 177, ../../sass/design.scss */
#property-zone #property-body .property-card-open {
  margin: 20px -10px;
}
/* line 180, ../../sass/design.scss */
#property-zone #property-body .property-card-open .property-card-body {
  display: block;
}
