/* line 5, ../../sass/commonClass.scss */
.bg-mc {
  background-color: #2196F3;
  color: white;
}

/* line 10, ../../sass/commonClass.scss */
.bg-ac {
  background-color: #FF5722;
  color: white;
}

/* line 15, ../../sass/commonClass.scss */
.bg-white, #header {
  background-color: white;
  color: black;
}

/* line 20, ../../sass/commonClass.scss */
.bg-disabled {
  background-color: #E0E0E0;
}

/* line 24, ../../sass/commonClass.scss */
.max-height {
  height: 100%;
}

/* line 28, ../../sass/commonClass.scss */
.max-width {
  width: 100%;
}

/* line 32, ../../sass/commonClass.scss */
.vertical-line {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 37, ../../sass/commonClass.scss */
.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 41, ../../sass/commonClass.scss */
.shadow2, .hover-float:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 45, ../../sass/commonClass.scss */
.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 49, ../../sass/commonClass.scss */
.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* line 53, ../../sass/commonClass.scss */
.shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* line 59, ../../sass/commonClass.scss */
.hover-float {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

/* line 69, ../../sass/commonClass.scss */
.hover-gray {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 72, ../../sass/commonClass.scss */
.hover-gray:hover {
  background-color: #eee;
}

/* line 79, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter {
  opacity: 0;
  -moz-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 83, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter-active, .ui-view-fade.ng-leave {
  opacity: 1;
}

/* line 6, ../../sass/index.scss */
md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
  background-color: rgba(138, 158, 255, 0.58) !important;
}

/* line 11, ../../sass/index.scss */
html, body {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 20, ../../sass/index.scss */
md-backdrop {
  display: none;
}

/* line 24, ../../sass/index.scss */
md-sidenav {
  min-width: 250px !important;
  width: 250px !important;
  max-width: 250px !important;
  z-index: 51;
  background-color: #2196F3 !important;
  position: static !important;
}
/* line 32, ../../sass/index.scss */
md-sidenav .md-toolbar-tools {
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
}
/* line 39, ../../sass/index.scss */
md-sidenav #user-cover-img {
  height: 140px;
  background-color: black;
  background-image: url("https://wallpaperspal.com/wp-content/uploads/Blue-Color-Scheme-Material-Design-Wallpaper.jpg");
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* line 48, ../../sass/index.scss */
md-sidenav #user-cover-img:before {
  z-index: 51;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 60, ../../sass/index.scss */
md-sidenav #user-cover-img .md-layout-row {
  z-index: 52;
}
/* line 64, ../../sass/index.scss */
md-sidenav #user-cover-img .md-layout-row #user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 70, ../../sass/index.scss */
md-sidenav #user-cover-img .md-layout-row .md-layout-column {
  margin-left: 15px;
  justify-content: center;
}
/* line 74, ../../sass/index.scss */
md-sidenav #user-cover-img .md-layout-row .md-layout-column span {
  color: white;
}
/* line 81, ../../sass/index.scss */
md-sidenav md-list button:hover {
  background-color: #1976D2 !important;
}
/* line 84, ../../sass/index.scss */
md-sidenav md-list p {
  font-size: 14px;
  color: white !important;
}
/* line 88, ../../sass/index.scss */
md-sidenav md-list md-icon {
  font-size: 20px !important;
  color: white !important;
}

/* line 97, ../../sass/index.scss */
#header .material-icons {
  color: black;
}

/* line 103, ../../sass/index.scss */
main {
  height: calc(100% - 64px);
  position: relative;
  -webkit-flex: 1;
  flex: 1;
}
