@charset "UTF-8";
/* line 5, ../../sass/commonClass.scss */
.bg-mc {
  background-color: #2196F3;
  color: white;
}

/* line 10, ../../sass/commonClass.scss */
.bg-ac {
  background-color: #FF5722;
  color: white;
}

/* line 15, ../../sass/commonClass.scss */
.bg-white {
  background-color: white;
  color: black;
}

/* line 20, ../../sass/commonClass.scss */
.bg-disabled {
  background-color: #E0E0E0;
}

/* line 24, ../../sass/commonClass.scss */
.max-height {
  height: 100%;
}

/* line 28, ../../sass/commonClass.scss */
.max-width {
  width: 100%;
}

/* line 32, ../../sass/commonClass.scss */
.vertical-line {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 37, ../../sass/commonClass.scss */
.shadow1, #program-zone, croset-component .croset-component-body {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 41, ../../sass/commonClass.scss */
.shadow2, .hover-float:hover, croset-component.ui-draggable-dragging .croset-component-body {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 45, ../../sass/commonClass.scss */
.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 49, ../../sass/commonClass.scss */
.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* line 53, ../../sass/commonClass.scss */
.shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* line 59, ../../sass/commonClass.scss */
.hover-float {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

/* line 69, ../../sass/commonClass.scss */
.hover-gray {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 72, ../../sass/commonClass.scss */
.hover-gray:hover {
  background-color: #eee;
}

/* line 79, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter {
  opacity: 0;
  -moz-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 83, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter-active, .ui-view-fade.ng-leave {
  opacity: 1;
}

/* line 6, ../../sass/program.scss */
#left-zone {
  flex: 0 !important;
}

/* line 11, ../../sass/program.scss */
#program-zone {
  position: relative;
  height: 100%;
  padding: 0;
  background-color: white;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 23, ../../sass/program.scss */
#program-zone #program-component-list {
  border-right: 1px solid #e1e1e1;
  background-color: #f6f6f6;
  position: relative;
  height: 100%;
  width: 250px;
}
/* line 30, ../../sass/program.scss */
#program-zone #program-component-list md-tabs {
  height: 100%;
}
/* line 32, ../../sass/program.scss */
#program-zone #program-component-list md-tabs md-tabs-wrapper {
  background-color: white;
}
/* line 35, ../../sass/program.scss */
#program-zone #program-component-list md-tabs md-content {
  height: 100%;
  background-color: #f6f6f6;
}
/* line 39, ../../sass/program.scss */
#program-zone #program-component-list md-tabs md-content md-item {
  display: block;
  margin-bottom: 15px;
}
/* line 47, ../../sass/program.scss */
#program-zone #program-code {
  width: 10000px;
  height: 10000px;
  position: absolute;
  overflow: scroll;
  transform: scale(1);
  transform-origin: top left;
}
/* line 55, ../../sass/program.scss */
#program-zone #program-code-wrapper {
  position: relative;
  height: 100%;
  background-color: #FDFDFD;
  overflow: scroll;
}

/* line 67, ../../sass/program.scss */
croset-component-in-code {
  position: absolute;
  height: 0;
}

/* line 73, ../../sass/program.scss */
croset-component {
  position: relative;
  display: inline-block;
}
/* line 77, ../../sass/program.scss */
croset-component.ui-draggable-dragging {
  z-index: 1000;
}
/* line 84, ../../sass/program.scss */
croset-component.bottom-border {
  border-bottom: 2px solid #FF5722;
}
/* line 88, ../../sass/program.scss */
croset-component.right-border {
  border-right: 2px solid #2196F3;
}
/* line 92, ../../sass/program.scss */
croset-component croset-component-function, croset-component croset-component-property, croset-component croset-component-literal, croset-component croset-component-valiable {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 10px 7px 10px;
}
/* line 97, ../../sass/program.scss */
croset-component croset-component-mat {
  display: block;
}
/* line 100, ../../sass/program.scss */
croset-component croset-component-mat .croset-mat-flex {
  display: flex;
  padding: 5px 10px 0px 10px;
  flex-wrap: nowrap;
}
/* line 105, ../../sass/program.scss */
croset-component croset-component-mat md-divider {
  margin-top: 7px;
}
/* line 108, ../../sass/program.scss */
croset-component croset-component-mat .mat-wrapper {
  min-width: 300px;
  min-height: 300px;
  background-color: #FDFDFD;
  position: relative;
  overflow: scroll;
}
/* line 115, ../../sass/program.scss */
croset-component croset-component-mat .mat-wrapper .croset-component-input-mat-card {
  position: absolute;
  width: 500%;
  height: 500%;
}
/* line 123, ../../sass/program.scss */
croset-component croset-component-mat .croset-mat-resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10;
}
/* line 132, ../../sass/program.scss */
croset-component[croset-component-in-list] .mat-wrapper {
  min-height: 25px;
}
/* line 139, ../../sass/program.scss */
croset-component croset-component-property > span, croset-component croset-component-valiable > span {
  align-items: center;
}
/* line 143, ../../sass/program.scss */
croset-component croset-component-property croset-component-property-modify-icon, croset-component croset-component-valiable croset-component-property-modify-icon {
  margin: -5px -10px -7px 5px;
  align-items: center;
  z-index: 0;
  background-color: #fff;
  color: #000;
  width: 25px;
}
/* line 151, ../../sass/program.scss */
croset-component croset-component-property croset-component-property-modified, croset-component croset-component-valiable croset-component-property-modified {
  margin: -5px -10px -7px 10px;
}
/* line 154, ../../sass/program.scss */
croset-component croset-component-property croset-component-property-modified > croset-component-in-code, croset-component croset-component-valiable croset-component-property-modified > croset-component-in-code {
  position: relative;
  height: auto;
}
/* line 162, ../../sass/program.scss */
croset-component croset-component-valiable md-select {
  margin: 5px 3px !important;
}
/* line 167, ../../sass/program.scss */
croset-component .croset-component-body {
  font-size: 12px;
  min-height: 45px;
  position: relative;
  -moz-transition: box-shadow 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.15s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 174, ../../sass/program.scss */
croset-component .croset-component-body > * {
  display: flex;
}
/* line 178, ../../sass/program.scss */
croset-component .croset-component-body > .input-border {
  border: 2px solid #FF5722;
}
/* line 182, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input {
  display: flex;
  align-items: center;
}
/* line 186, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input > *:nth-child(2) {
  display: none;
}
/* line 190, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-in-code {
  position: relative;
  height: auto;
}
/* line 196, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-text span {
  align-items: center;
  white-space: nowrap;
}
/* line 201, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-textbox, croset-component .croset-component-body croset-component-input croset-component-input-expbox {
  font-family: 'メイリオ';
}
/* line 203, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-textbox md-input-container, croset-component .croset-component-body croset-component-input croset-component-input-expbox md-input-container {
  padding-bottom: 0;
}
/* line 204, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-textbox input, croset-component .croset-component-body croset-component-input croset-component-input-expbox input {
  text-align: center;
  margin: 0px 3px;
  padding: 10px 5px;
  border: 0;
}
/* line 210, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-textbox span, croset-component .croset-component-body croset-component-input croset-component-input-expbox span {
  visibility: hidden;
  white-space: nowrap;
  position: absolute;
}
/* line 217, ../../sass/program.scss */
croset-component .croset-component-body croset-component-input croset-component-input-screen > md-select {
  margin: 5px 3px !important;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component-literal {
  background-color: #fff;
  color: #000;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component-literal > croset-component-input > croset-component-input-expbox input, croset-component croset-component-literal > croset-component-input > croset-component-input-textbox input, croset-component croset-component-literal > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component-literal > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #E6E6E6;
  color: #444444;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component-literal > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-literal > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component-literal > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-literal > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component-function {
  background-color: rgba(219, 68, 55, 0.95);
  color: #fff;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component-function > croset-component-input > croset-component-input-expbox input, croset-component croset-component-function > croset-component-input > croset-component-input-textbox input, croset-component croset-component-function > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component-function > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #E06055;
  color: #fff;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component-function > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-function > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component-function > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-function > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component-property {
  background-color: #03A9F4;
  color: #fff;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component-property > croset-component-input > croset-component-input-expbox input, croset-component croset-component-property > croset-component-input > croset-component-input-textbox input, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #29B6F6;
  color: #C9EDFD;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component-property > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-property > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component-property {
  background-color: #03A9F4;
  color: #fff;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component-property > croset-component-input > croset-component-input-expbox input, croset-component croset-component-property > croset-component-input > croset-component-input-textbox input, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #29B6F6;
  color: #C9EDFD;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component-property > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-property > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-property > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component- {
  background-color: rgba(219, 68, 55, 0.95);
  color: #fff;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component- > croset-component-input > croset-component-input-expbox input, croset-component croset-component- > croset-component-input > croset-component-input-textbox input, croset-component croset-component- > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component- > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #E06055;
  color: #fff;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component- > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component- > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component- > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component- > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
/* line 223, ../../sass/program.scss */
croset-component croset-component-mat {
  background-color: #455A64;
  color: #fff;
}
/* line 228, ../../sass/program.scss */
croset-component croset-component-mat > croset-component-input > croset-component-input-expbox input, croset-component croset-component-mat > croset-component-input > croset-component-input-textbox input, croset-component croset-component-mat > .croset-mat-flex > croset-component-input > croset-component-input-expbox input, croset-component croset-component-mat > .croset-mat-flex > croset-component-input > croset-component-input-textbox input {
  background-color: #61737B;
  color: #fff;
}
/* line 232, ../../sass/program.scss */
croset-component croset-component-mat > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-mat > croset-component-input > croset-component-input-textbox input:focused, croset-component croset-component-mat > .croset-mat-flex > croset-component-input > croset-component-input-expbox input:focused, croset-component croset-component-mat > .croset-mat-flex > croset-component-input > croset-component-input-textbox input:focused {
  outline: none;
}
