@charset "UTF-8";
/* line 5, ../../sass/commonClass.scss */
.bg-mc {
  background-color: #2196F3;
  color: white;
}

/* line 10, ../../sass/commonClass.scss */
.bg-ac {
  background-color: #FF5722;
  color: white;
}

/* line 15, ../../sass/commonClass.scss */
.bg-white {
  background-color: white;
  color: black;
}

/* line 20, ../../sass/commonClass.scss */
.bg-disabled {
  background-color: #E0E0E0;
}

/* line 24, ../../sass/commonClass.scss */
.max-height {
  height: 100%;
}

/* line 28, ../../sass/commonClass.scss */
.max-width {
  width: 100%;
}

/* line 32, ../../sass/commonClass.scss */
.vertical-line {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 37, ../../sass/commonClass.scss */
.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 41, ../../sass/commonClass.scss */
.shadow2, .hover-float:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 45, ../../sass/commonClass.scss */
.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 49, ../../sass/commonClass.scss */
.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* line 53, ../../sass/commonClass.scss */
.shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* line 59, ../../sass/commonClass.scss */
.hover-float {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

/* line 69, ../../sass/commonClass.scss */
.hover-gray {
  -moz-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 72, ../../sass/commonClass.scss */
.hover-gray:hover {
  background-color: #eee;
}

/* line 79, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter {
  opacity: 0;
  -moz-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/* line 83, ../../sass/commonClass.scss */
.ui-view-fade.ng-enter-active, .ui-view-fade.ng-leave {
  opacity: 1;
}

/* line 6, ../../sass/program.scss */
#left-zone {
  flex: 0 !important;
  margin-top: 100%;
}

/* line 12, ../../sass/program.scss */
#full-zone {
  flex: 0 !important;
}

/* line 17, ../../sass/program.scss */
#program-zone {
  position: relative;
  padding: 0;
}

/* line 23, ../../sass/program.scss */
.blocklyToolboxDiv {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: white;
  width: 240px;
}
/* line 29, ../../sass/program.scss */
.blocklyToolboxDiv .blocklyTreeRow:not(.blocklyHidden) {
  height: 60px;
  display: flex;
  align-items: center;
  /* 縦方向中央揃え */
  justify-content: center;
  /* 横方向中央揃え */
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #ddd;
}
/* line 39, ../../sass/program.scss */
.blocklyToolboxDiv .blocklyTreeRow:not(.blocklyHidden) .blocklyTreeLabel {
  font-size: 14px;
}

/* line 44, ../../sass/program.scss */
.blocklyFlyout {
  z-index: 100;
}
/* line 48, ../../sass/program.scss */
.blocklyFlyout .blocklyFlyoutBackground {
  border-radius: 0;
  fill: #fff;
}

/* line 54, ../../sass/program.scss */
.blocklyBubbleCanvas .blocklyFlyoutBackground {
  fill: #ddd;
}
/* line 59, ../../sass/program.scss */
.blocklyBubbleCanvas > g > g {
  filter: inherit;
}
/* line 62, ../../sass/program.scss */
.blocklyBubbleCanvas .blocklyDraggable {
  rx: 0;
  ry: 0;
  fill: #4696F7;
}

/* line 70, ../../sass/program.scss */
.blocklyMainBackground {
  fill: #f5f5f5 !important;
}

/* line 74, ../../sass/program.scss */
.blocklyPathDark, .blocklyPathLight {
  display: none;
}

/* line 77, ../../sass/program.scss */
.blocklySelected > .blocklyPath {
  stroke-width: 0px !important;
}

/* line 81, ../../sass/program.scss */
.blocklyEditableText > rect {
  rx: 2 !important;
  ry: 2 !important;
}

/* line 87, ../../sass/program.scss */
.blocklyWidgetDiv {
  z-index: 100 !important;
}

/* line 91, ../../sass/program.scss */
._md-menu-backdrop {
  z-index: 102 !important;
}

/* line 95, ../../sass/program.scss */
.md-dialog-container {
  z-index: 103 !important;
}

/* line 99, ../../sass/program.scss */
._md-open-menu-container {
  z-index: 102 !important;
}
