<div layout="row" id="config">
  <div layout="column" id="config-headings" class="md-dialog-content">
    <md-list ng-cloak>
<!--       <md-subheader class="md-no-sticky">サーバー</md-subheader> -->
      <md-list-item ng-repeat="(id, heading) in headings" ng-click="changeHeading(id)">
        <p> {{heading}} </p>
      </md-list-item>
    </md-list>
  </div>
  <md-divider></md-divider>
  <div layout="column">
    <div layout="column" class="md-dialog-content"  id="config-content">

      <md-list ng-cloak ng-show="currentHeading == 'server'">
        <h2>  サーバー　</h2>
        <md-subheader class="md-no-sticky"> Firebase </md-subheader>
        <md-list-item class="secondary-button-padding">
          <p>APIキー</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.apiKey">
          </md-input-container>
        </md-list-item>   
        <md-list-item class="secondary-button-padding">
          <p>Authドメイン</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.authDomain">
          </md-input-container>
        </md-list-item>   
        <md-list-item class="secondary-button-padding">
          <p>データベースURL</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.databaseURL">
          </md-input-container>
        </md-list-item>   
        <md-list-item class="secondary-button-padding">
          <p>プロジェクトID</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.projectId">
          </md-input-container>
        </md-list-item>   
        <md-list-item class="secondary-button-padding">
          <p>Storage Bucket</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.storageBucket">
          </md-input-container>
        </md-list-item>   
        <md-list-item class="secondary-button-padding">
          <p>Messaging Sender Id</p>
          <md-input-container  class="md-secondary">
            <input ng-model="config.server.messagingSenderId">
          </md-input-container>
        </md-list-item>   
      </md-list>
    </div>

    <div layout="row" layout-align="end center" class="md-padding">
      <md-button ng-click="cancel()"> キャンセル </md-button>
      <md-button class="md-raised md-primary" ng-click="ok()"> OK </md-button>
    </div>
    
  </div>
  
</div>






