
  <md-list-item ng-click="itemSelected(element.$$key, element)" ng-class="{'hierarchy-item-selected' : element.$$key === selectedElementUUID, '{{'hierarchy-item-' + element.type}}' : true, 'hierarchy-group': element.group}">
    <md-icon md-font-icon="menu" aria-label="Type">{{elementDatas[element.type].icon}}</md-icon>
    <p class="hierarcy-text">{{element.name}}</p>
  </md-list-item>
  <div style="padding-left: 40px">
    <select-element-dialog-child-item ng-repeat="element in element.children  | toArray | orderBy: 'zIndex'"></select-element-dialog-child-item>
  </div>