
<div layout="column" ng-repeat="(matName, mat) in mats" class="mat-child">
  <div class="croset-mat-flex"><span>{{elementName}}</span>
    <croset-component-input ng-repeat="input in mat track by $index"></croset-component-input>
  </div>
  <md-divider></md-divider>
  <div class="mat-wrapper">
    <div class="croset-component-input-mat-card croset-mat">
      <croset-component-in-code ng-repeat="card in cardData.matContents[matName]"></croset-component-in-code>
    </div>
    <div direction="bottom" class="croset-mat-resizer"></div>
  </div>
</div>
<div direction="right" class="croset-mat-resizer"></div>