
<div id="dashboard" layout="column">
  <div id="menu">
    <md-button ng-click="toggleSideNav()" aria-label="Menu" class="md-icon-button">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
  </div>
  <div id="fixing-header" layout="row">
    <h2 ng-style="{opacity: titleOpacity }">DASHBOARD</h2>
  </div>
  <md-button id="new-project" ng-click="newProject($event)" class="md-fab md-accent">
    <md-icon aria-label="Menu" class="material-icons">add</md-icon>
  </md-button>
  <md-tabs id="tabs" md-dynamic-height="" md-border-bottom="" dashboard-tabs="dashboard-tabs">
    <md-tab label="ダッシュボード">
      <md-content id="main-tab-content" layout="row" class="md-padding">
        <md-card ng-repeat="project in projects track by $index" repeat-finished="repeat-finished" ui-sref="editor.design({projectId: project.projectId, screenName: 'トップ'})" md-ink-ripple="md-ink-ripple" class="project-card"><img ng-src="img/black_flat_bg.png" alt="Washed Out" class="project-background md-card-image"/>
          <div class="project-preview-wrapper">
            <div class="project-preview"></div>
          </div>
          <md-card-title>
            <md-card-title-text><span class="md-headline">{{project.name}}</span></md-card-title-text>
          </md-card-title>
        </md-card>
      </md-content>
    </md-tab>
    <md-tab label="アカウント設定">
      <md-content class="md-padding"></md-content>
    </md-tab>
  </md-tabs>
</div>