
<md-toolbar id="header" ng-controller="HeaderController">
  <div class="md-toolbar-tools">
    <md-button id="toggle-side-nav" ng-click="toggleSideNav()" ng-hide="isOpenRight()" aria-label="Menu" class="md-icon-button">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2><span>{{projectName}}</span></h2>
    <h2>></h2><img src="img/logo.png" height="47px" style="left: 50%;position: absolute;transform: translateX(-50%)"/>
    <h2><span>{{screenName}}</span></h2><span flex="flex"></span>
    <md-button id="config" aria-label="Config" ng-click="config($event)" class="md-icon-button"> 
      <md-icon aria-label="Config">settings</md-icon>
    </md-button>
    <md-button id="build-download" aria-label="Download" ng-click="buildDownload($event)" class="md-icon-button"> 
      <md-icon aria-label="Download">file_download</md-icon>
    </md-button>
    <md-button id="run-fab" aria-label="Run" ng-click="run($event)" class="md-icon-button"> 
      <md-icon aria-label="Run">play_arrow</md-icon>
    </md-button>
    <md-button id="save-fab" aria-label="Save" ng-click="save($event)" class="md-primary md-icon-button"> 
      <md-icon aria-label="Save">save</md-icon>
    </md-button>
  </div>
</md-toolbar>
<div id="editor" layout="row">
  <div id="progress" layout="column" ng-show="progress.isLoading"><img src="http://assets.materialup.com/uploads/d0b393f6-3975-48dd-b7ca-bf0289187c6e/preview"/>
    <md-progress-linear md-mode="determinate" value="{{progress.determinateValue}}"></md-progress-linear>
  </div>
  <div id="mode-changer" layout="column">
    <md-button id="changeScreen" ng-click="changeScreen()" class="md-icon-button md-primary">
      <md-icon class="material-icons">content_copy</md-icon>
    </md-button>
    <md-button ng-repeat="(name, modeObj) in modeList" ng-click="changeMode(name)" ng-class="{'mode-icon-active': name==mode}" aria-label="ModeIcon" class="selected md-icon-button">
      <md-icon class="material-icons">{{modeObj.icon}}</md-icon>
    </md-button>
    <div class="mode-button-divider"></div>
    <md-button ng-repeat="(name, modeObj) in secondModeList" ng-click="changeMode(name)" ng-class="{'mode-icon-active': name==mode}" aria-label="ModeIcon" class="selected md-icon-button">
      <md-icon class="material-icons">{{modeObj.icon}}</md-icon>
    </md-button>
  </div>
  <div id="left-zone" class="editor-card flex">
    <div ui-view="left" class="ui-view-fade"></div>
  </div>
  <div id="screen-wrapper" ng-controller="ScreenController">
    <div id="screen-zone" ng-mousedown="onclick()" ng-style="{transform: 'scale3d(' + screenScaleRatio + ',' + screenScaleRatio + ',' + screenScaleRatio + ')', marginRight: marginRight}" class="marvel-device iphone6 silver">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div id="screen" ng-style="{overflowY: currentScreenData.style.overflowY}" class="screen"></div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
      <md-button ng-click="openListItemSelect()" class="md-fab md-accent change-select-mode"> 
        <md-icon aria-label="Menu" class="material-icons">format_list_bulleted</md-icon>
      </md-button>
    </div>
    <div layout="column" id="template-preview-wrapper">
      <md-card layout="column" layout-align="center center">
        <md-card-actions layout="row" layout-align="start start">
          <md-button ng-click="closeTemplatePreview()" class="md-icon-button">
            <md-icon aria-label="Close" class="material-icons">arrow_back</md-icon>
          </md-button>
        </md-card-actions>
        <div id="template-preview" layout="column" layout-align="center center"></div>
      </md-card>
    </div>
    <div layout="column" id="list-item-select">
      <md-card layout="column">
        <md-card-actions layout="row" layout-align="start start">
          <md-button ng-click="closeListItemSelect()" class="md-icon-button">
            <md-icon aria-label="Close" class="material-icons">arrow_back</md-icon>
          </md-button>
        </md-card-actions>
        <md-list ng-cloak="ng-cloak">
          <md-subheader>画面要素</md-subheader>
          <hierarchy-item ng-repeat="element in screenElements | toArray | orderBy: 'zIndex'"></hierarchy-item>
          <md-divider ng-show="templates"></md-divider>
          <md-subheader ng-show="templates">テンプレート</md-subheader>
          <hierarchy-item ng-repeat="element in templates | toArray" istemplate="true"></hierarchy-item>
        </md-list>
      </md-card>
    </div>
  </div>
  <div id="right-zone" class="editor-card flex">
    <div ui-view="right" class="ui-view-fade"></div>
  </div>
  <div id="full-zone" class="flex">
    <div ui-view="full" layout="column" class="ui-view-fade"></div>
  </div>
  <md-fab-toolbar id="var-fab-toolbar" md-open="isVarToolbarOpen" count="demo.count" md-direction="left" ng-mouseleave="closeVarToolbar()">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" ng-mouseover="openVarToolbar()" class="md-fab md-primary">
        <md-icon aria-label="Var">archive</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar ng-show="$state.current.name != 'editor.program'">
      <md-fab-actions class="md-toolbar-tools">
        <md-button ng-click="addVariable($event)" class="var-button">
          <md-icon aria-label="Add" class="material-icons">add	</md-icon>
        </md-button>
        <md-button ng-click="onVariableClicked($event, varId)" aria-label="{{var.name}}" ng-repeat="(varId, var) in vars" data-drag="{{$state.current.name == 'editor.design'}}" jqyoui-draggable="jqyoui-draggable" data-jqyoui-options="{{varButtonDragOptions}}" class="var-button">{{var.name}}</md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
</div>
<script src="blockly/blockly_uncompressed.js"></script>
<script src="blockly/generators/javascript.js"></script>
<script src="blockly/blocks/logic.js"></script>
<script src="blockly/blocks/math.js"></script>
<script src="blockly/blocks/lists.js"></script>
<script src="blockly/blocks/colour.js"></script>
<script src="blockly/blocks/loops.js"></script>
<script src="blockly/blocks/variables.js"></script>
<script src="blockly/blocks/text.js"></script>
<script src="blockly/blocks/procedures.js"></script>
<script src="blockly/blocks/custom.js"></script>
<script src="blockly/blocks/element.js"></script>
<script src="blockly/generators/javascript/logic.js"></script>
<script src="blockly/generators/javascript/math.js"></script>
<script src="blockly/generators/javascript/lists.js"></script>
<script src="blockly/generators/javascript/colour.js"></script>
<script src="blockly/generators/javascript/loops.js"></script>
<script src="blockly/generators/javascript/variables.js"></script>
<script src="blockly/generators/javascript/text.js"></script>
<script src="blockly/generators/javascript/procedures.js"></script>
<script src="blockly/generators/javascript/custom.js"></script>
<script src="blockly/generators/javascript/element.js"></script>
<script src="blockly/msg/js/ja.js"></script>