
<md-toolbar id="header" ng-controller="HeaderController">
  <div class="md-toolbar-tools">
    <md-button id="toggle-side-nav" ng-click="toggleSideNav()" ng-hide="isOpenRight()" aria-label="Menu" class="md-icon-button">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2><span>{{projectName}}</span></h2>
    <h2>></h2><img src="img/logo.png" height="47px" style="left: 50%;position: absolute;transform: translateX(-50%)"/>
    <h2><span>{{screenName}}</span></h2><span flex="flex"></span>
    <md-button id="build-download" aria-label="Run" ng-click="buildDownload($event)" class="md-primary"> 
      <md-icon class="material-icons">file_download</md-icon>
    </md-button>
    <md-button id="run-fab" aria-label="Run" ng-click="run($event)" class="md-primary"> 
      <md-icon class="material-icons">play_arrow</md-icon>
    </md-button>
    <md-button id="save-fab" aria-label="Run" ng-click="save($event)" class="md-fab md-primary"> 
      <md-icon class="material-icons">save</md-icon>
    </md-button>
  </div>
</md-toolbar>
<div id="editor" layout="row">
  <div id="progress" layout="column" ng-show="progress.isLoading"><img src="http://assets.materialup.com/uploads/d0b393f6-3975-48dd-b7ca-bf0289187c6e/preview"/>
    <md-progress-linear md-mode="determinate" value="{{progress.determinateValue}}"></md-progress-linear>
  </div>
  <div id="mode-changer" layout="column">
    <md-button id="changeScreen" ng-click="changeScreen()" class="md-icon-button md-primary">
      <md-icon class="material-icons">content_copy</md-icon>
    </md-button>
    <md-button ng-repeat="(name, modeObj) in modeList" ng-click="changeMode(name)" ng-class="{'mode-icon-active': name==mode}" aria-label="ModeIcon" class="selected md-icon-button">
      <md-icon class="material-icons">{{modeObj.icon}}</md-icon>
    </md-button>
  </div>
  <div id="left-zone" class="editor-card flex">
    <div ui-view="left" class="ui-view-fade"></div>
  </div>
  <div id="screen-wrapper">
    <div id="screen-zone" ng-controller="ScreenController" ng-style="{transform: 'scale(' + screenScaleRatio + ')', marginRight: marginRight}" class="marvel-device iphone6 silver">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div id="screen" class="screen"></div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
    </div>
    <div layout="column" id="template-preview-wrapper">
      <md-card id="template-preview" layout="column" layout-align="center center"></md-card>
    </div>
  </div>
  <div id="right-zone" class="editor-card flex">
    <div ui-view="right" class="ui-view-fade"></div>
  </div>
</div>