
<md-card id="hierarchy-zone" ng-controller="HierarchyController">
  <div id="hierarchy-body">
    <md-list ng-cloak="ng-cloak">
      <md-subheader>画面要素</md-subheader>
      <hierarchy-item ng-repeat="element in screenElements | toArray | orderBy: 'zIndex'"></hierarchy-item>
      <md-divider ng-show="templates"></md-divider>
      <md-subheader>テンプレート</md-subheader>
      <hierarchy-item ng-repeat="element in templates | toArray" istemplate="true"></hierarchy-item>
    </md-list>
    
    <md-button id="add-element" ng-click="animationTriggers.showNewElements=true" class="md-fab md-accent"> 
      <ng-md-icon icon="add" style="fill: white" size="30"></ng-md-icon>
    </md-button>
  </div>
  <div id="new-elements" ng-class="{animationOn: animationTriggers.showNewElements}">
    <div id="new-element-title" ng-click="animationTriggers.showNewElements=false">
      <div id="new-element-title-ripple" style="overflow: hidden; position:relative" md-ink-ripple="md-ink-ripple">
        <md-icon aria-label="Menu" class="material-icons">close</md-icon>
        <p>新しい画面部品</p>
      </div>
    </div>
    <div id="new-element-body" layout="row" layout-wrap="layout-wrap">
      <div flex="50" ng-repeat="(id, data) in settings.elementDatas">
        <md-card style="overflow: hidden; position:relative" add-element-card="{{id}}" ng-click="onclick()">
          <md-card-header>
            <md-card-avatar>
              <md-icon aria-label="Menu" class="md-avatar-icon material-icons">{{data.icon}}</md-icon>
            </md-card-avatar>
            <md-card-header-text md-ink-ripple="md-ink-ripple"><span class="md-title">{{ data.name }}</span></md-card-header-text>
          </md-card-header>
        </md-card>
      </div>
    </div>
  </div>
</md-card>